.circleRisk
{
    display: inline-block;
    background: red;
    width: 2rem;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
}

.tableDesktop
{
    display: block;
    @media (max-width: 768px) {
        display: none;
    }
}

.tableMobile
{
    display: none;
    @media (max-width: 768px) {
        display: block;
    }
}